<!DOCTYPE html>
<head>
    <title>
        Update reservation
    </title>
</head>
<body>
    <h1>Update {{ reservation.name_of_reservation }}'s reservation at  {{ restaurant.restaurant_name }}</h1>
    <hr>
        <form method = "POST">
            {% csrf_token %}

            {{ form.as_p }}
            <form method = "POST">
                <button type = "submit">Update</button>
            </form>
        </form>
        <hr>
        {% if is_supervisor %}
            <form action="{% url 'reservation_list' %}" method = "GET">
                <button type = "submit">Back</button>
            </form>
        {% endif %}
</body>