<!DOCTYPE html>
<head>
    <title>Supervisor Home Page</title>
</head>
<body>
    <h1>Hello {{ user.username }}! This is your Supervisor Dashboard</h1>
    <hr>

    <form action="{% url 'display_all_staff' %}" method = "GET">
        <button type = 'submit'>Manage Staff</button>
    </form>

    <form action="{% url 'list_restaurants_menu_items' %}" method = "GET">
        <button type = "submit">Menu Items</button>
    </form>

    <form action="{% url 'shift_list_full' %}" method = "GET">
        <button type="submit">Manage Shifts</button>
    </form>

    <form action="{% url 'reservation_list' %}">
        <button type = "submit">Manage Reservations</button>
    </form>

    <hr>
    <form action="{% url 'logout' %}" method = "POST">
        {% csrf_token %}

        <button type = "submit"> Logout</button>
    </form>

</body>