<!DOCTYPE html>
<html>
<head>
    <title>To-Do List</title>
</head>
<body>
    <h1>My To-Do List</h1>

    <!-- Form to add a new task -->
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        {{ form.title.errors }}
        {{ form.non_field_errors }}
        <button type="submit">Add Task</button>
    </form>

    <!-- Display all tasks -->
    <ul>
        {% for task in tasks %}
        <li>
            {% if task.completed %}
                <s>{{ task.title }}</s> - {{ task.get_status_display }} - {{ task.assistance }} - {% if task.due_date %}Due: {{ task.due_date|date:"Y-m-d" }}{% endif %}
            {% else %}
                {{ task.title }} - {{ task.get_status_display }} - {{ task.assistance }} - {% if task.due_date %}Due: {{ task.due_date|date:"Y-m-d" }}{% endif %}
                <a href="{% url 'complete_task' task.id %}">Complete</a>
            {% endif %}
            <a href="{% url 'delete_task' task.id %}">Delete</a>
        </li>
        {% endfor %}
    </ul>
    <a href="{% url 'all_tasks' %}">View All Tasks</a>
</body>
</html>