<!DOCTYPE html>
<head>
    <title>Add Staff Page</title>
</head>
<body>
    <h1>Add a new Staff Member</h1>
    <form method = "post">
        <h2>User Account :</h2>
        {% csrf_token %}

        {{ staff_user_account_form.as_p }}

        <h2>User Information :</h2>

        {{ staff_model_form.as_p }}

        <button type="submit">Add</button>
    </form>
    <hr>
    <form action="{% url 'display_all_staff' %}" method = 'get'>
        <button type = 'submit'>Back</button>
    </form>
</body>