<!DOCTYPE html>
<html>
    <head>
        <title>Welcome Page</title>
    </head>
    <body>
        <h1>Restaurant List</h1>
        <a href="{% url 'restaurant_list' %}">Restaurant Submission</a>
        <h1>Menu List</h1>
        <a href="{% url 'menu_list' %}">Menu Submission</a>
        <h1>Staff</h1>
        <a href="{% url 'staff_list' %}">Staff Page</a>
        <h1>Shift</h1>
        <a href="{% url 'shift_view' %}">Shift Page</a>
        <h1>All Shifts</h1>
        <a href="{% url 'shift_list' %}">All shifts</a>
        <br>
        <a href="{% url 'general_restaurant_list' %}">General List of Restaurants</a>

        {% if user.is_authenticated %}
            <p>Welcome, {{ user.username }}</p>

            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </body>
</html>