<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>

    <h1>Login page</h1>

    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}

    {% if form.errors %}
        <p style="color:red;">
            Invalid username or password.
        </p>
    {% endif %}

    <form method="post">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit">Login</button>
    </form>

    <form action="{% url 'register_page' %}" method = "get">
        <button type="submit" > Register </button>
    </form>

</body>
</html>