<!DOCTYPE html>
<head>
    <title>Registration Page</title>
</head>
<Body>
    <h1>Registration Page</h1>

    <form method="post">
        {% csrf_token %}

        <p>
            {{ form.username.label_tag }}
            {{ form.username }}
            {{ form.username.errors }}
        </p>

        <p>
            {{ form.password1.label_tag }}
            {{ form.password1 }}
            {{ form.password1.errors }}
        </p>

        <p>
            {{ form.password2.label_tag }}
            {{ form.password2 }}
            {{ form.password2.errors }}
        </p>

        <p>
            {{ form.role.label_tag }}
            {{ form.role }}
            {{ form.role.errors }}
        </p>


        <button type="submit">Register</button>
    </form>

    <form action = "{% url 'login_page' %}" method = "GET">
        <button type="submit">Already Have an Account?</button>
    </form>
</Body>