<!DOCTYPE html>
<html>
<head>
    <title>Restaurant List</title>
</head>
<body>

    <h1>Restaurants</h1>
    <h2>Hello {{ user_info }}</h2>

    {% if restaurants %}
        <ul>
            {% for restaurant in restaurants %}
                <li>
                    <a href="{% url 'restaurant_detail' restaurant.id %}">
                        {{ restaurant.restaurant_name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p> {{ notice_message }}</p>
    {% endif %}

    <a href="{% url 'login' %}">Log In</a>
    <br>
    <form action="{% url 'logout' %}" method = "post">
        {% csrf_token %}
        <button type = "submit">Logout</button>
    </form>

</body>
</html>