<!DOCTYPE html>
<html>
    <head>
        <title>Restaurant List</title>
    </head>
    <body>
        <h1>Restaurants</h1>
        <!-- Display all restaurants -->
        <h2>All Restaurants</h2>
        <ul>
            {% for restaurant in object_list %}
                <li>
                    {{ restaurant.restaurant_name }} - {{ restaurant.restaurant_cuisine }} - {{ restaurant.location }}
                    <a href="{% url 'restaurant_edit' restaurant.pk %}">Edit</a>
                    <a href="{% url 'restaurant_delete' restaurant.pk %}">Delete</a>
                </li>
            {% empty %}
                <li>No restaurants yet.</li>
            {% endfor %}
        </ul>

        <a href="{% url 'menu_list' %}">Menu Submission</a>
        <a href="{% url 'home_page' %}">Home Page</a>
        <a href="{% url 'restaurant_create' %}">Add Restaurant</a>
    </body>
</html>